/* common styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:wght@400;700&display=swap');

.text-primary{
    color: #6C727F;
}
.button-primary{
    color: #F3F4F6;
    background-color: #1D1D1F;
    border: none;
}
/* header styling */
.header{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-image: url("../resources/background-image@2x.png");
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    margin-right: 20px;
}
.page-title{
    font-size: 1.5rem;
    height: 100px;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize; 
}
.header-button{
    color: #F3F4F6;
    background-color: #95AAD0;
    padding: 3px 10px;
    border: none;
    border-radius: 50px;
}
/* header styling */
/* main styling */
main{
    padding: 20px;
    
}
.container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 20px 80px;
    background-color: #F3F4F6;
}
.form-column,.item-column{
    padding: 10px;
    width: 50%;
    box-shadow: 0px 0px  3px 3px #6c727f18;
    /* border: 2px solid red; */
}
.item-column{
    background-color: #00000033;
    border-radius: 20px 0px 0px 20px;
}
.items{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.image-container{
    text-align: center;
    background-color: #F3F4F6;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 20%;
}
.item-desc-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
h3{
    margin-bottom: 10px;
}
.item-desc,.price{
    margin-bottom: 50px;
}
.price{     
    margin-bottom: 80px;
}
hr{
    margin: 0px 20px;
}
/* left form input styling */
.left-form{
    padding: 20px;
    /* display: flex; */
    /* width: 100%; */
}
.l-form label{
    display: flex;
    gap: 20px;
    width: 100%;
}
.l-form label input{
    padding:15px;
    /* margin-right: 10px; */
    border: none;
    border-radius: 10px;
}
input:focus {
    color: #1D1D1F;
    outline: none;
    border: none;
}
#coupon{
    width: 60%;
    background-color: #F3F4F6;
}
#c-code{
    width: 30%;
}
/* left total bill styling */
.sub-total,.tax,.total-bill{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 10px 0px;
}
/* right column styling */
.form-column{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
}
.contact-form{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
 .form-column label{
    display: block;
    margin: 20px 0px;
}
label input{
    width: 95%;
    margin: 10px 0px;
    padding:15px;
    border: none;
    border-radius: 10px;
    /* color: #F3F4F6; */
    background-color: #6c727f45;
}
.right-form-button{
    width: 100%;
}
.country-code-container{
    display: flex;
    /* border: 2px solid red; */
}
.country-code-container label input{
    margin: 10px 0px;
    padding:10px;
}
select{
    margin: 10px 20px 10px 0px;
    padding:10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #6c727f45;
}
option:focus{
    color: #F3F4F6;
    outline: none;
    border: none;
}
/* responsive medium devices */
@media screen and (max-width:990px){
    .container{
        font-size: 1.3em;
        flex-direction: column;
    }
    .column-container,.item-column{
        width: 100%;
    }
    .item-column{
        border-radius: 20px 20px 0px 0px;
    }
    #coupon{
        width: 75%;
    }
}